.relative {
    position: relative;
}

.Ponsition {
    padding-top: 100px;
}

#image-bg {
    background-image: url("/html/14-20190530/landing/ảnh/img1.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
}

.first {
    height: 300px;
    background-position: center;
    background-size: cover;
}