.php18
{
    color:blueviolet;
    size:100px;
}
.php1{
  color:blue;
}
.php2{
  color: darkcyan;
}
.php3{
  color:peru;
  size: 20px;
}
.div-bon{
    border: 2px solid black;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-right: 500px;
  margin-left: 500px;
  background-color: lightblue;
}
.chu-nam-giua{
    text-align: center;
}
.div-hai{
  height:800px;
  background:white;
  display :flex;
  justify-content:space-around;
}
.div-hai-mot{
  width: 40%;
  height: 100%;
  background-color:paleturquoise;
}
.div-hai-hai{
  width: 55%;
  height: 100%;
  background-color:palegoldenrod;
}
.div-hai-hai-mot{
  width: 100%;
  height: 65.5%;
  background:peachpuff;
  display :flex;
}
.div-hai-hai-hai{
  width: 100%;
  height: 32%;
  background-color:plum;
}
.border{
  border-bottom-style: double;
  border-bottom-width: 5px;
  border-bottom-color:black;
}
.div-ba{
  height:200px;
  background:white;
  display :flex;
  justify-content:space-around;
}
.div-ba-mot{
  border:2px solid black;
 padding: 10px;
  margin: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 50px;
  margin-left: 10px;
  width: 45%;
  height: 80%;
  background-color:papayawhip;
}
.div-ba-hai{
  border:2px solid black;
 padding: 10px;
  margin: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 1px;
  width: 40%;
  height: 80%;
  background-color:palegreen;
}
